{% extends "base.html" %}

{% block title %}Select Questionnaires{% endblock %}

{% block content %}
<div class="container my-5 select-page">
    <h1 class="text-center mb-4" style="font-family: 'Lobster', cursive;">Alzheimer's Disease Diagnostic Questionnaires</h1>
    <p class="text-center bg-info text-white p-4 rounded shadow-sm">
        📋 <strong>Please complete at least one questionnaire to receive a prediction.</strong><br>
        📈 <strong>Completing multiple questionnaires will <span class="text-danger">enhance the accuracy</span> of the prediction.</strong>
    </p>
    {% if error %}
    <div class="alert alert-danger text-center" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <div class="row justify-content-center questionnaire-selection">
        {% for key, questionnaire in questionnaires.items() %}
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card questionnaire-card h-100">
                <a href="{{ url_for('questionnaire_route', questionnaire_name=key.lower()) }}">
                    <img src="{{ url_for('static', filename='images/' + key + '.png') }}" class="card-img-top"
                        alt="{{ questionnaire.name }} Logo">
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title questionnaire-name">{{ questionnaire.name }}</h5>
                    {% if key.lower() in completed_questionnaires %}
                    <span class="badge bg-success"><i class="fas fa-check-circle"></i> Complete</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center button-container">
        <a href="/" class="btn btn-primary btn-lg me-3">Back to Patient Info</a>
        {% if completed_questionnaires %}
        <a href="{{ url_for('predict') }}" class="btn btn-success btn-lg me-3">Save & Predict</a>
        {% endif %}
        <a href="{{ url_for('reset') }}" class="btn btn-danger btn-lg">Reset</a>
    </div>
</div>
{% endblock %}
